//- accountsettings structure
#accountsettings
    p.sideline
        svg: use(href="#svg-notice-icon") 
        | By importing or generating any key, I understand that - whenever using said key the associated account will be identifiable by its ID.
    h2 ID
    #id-display.text-display-frame.click-button
        .display-frame-content
        svg.copy-icon: use(href="#svg-copy-icon")
    #id-qr-line
        #id-qr-button.click-button.flashy-button
            svg: use(href="#svg-qrcode-icon")
            .label Show ID QR
    
    #options-grid
        #generate-key-button.click-button.flashy-button
            svg: use(href="#svg-add-icon")
            .label Generate
        #import-key-button.click-button.flashy-button 
            svg: use(href="#svg-import-icon")
            .label Import
        #export-key-button.click-button.flashy-button 
            svg: use(href="#svg-export-icon")
            .label Export
        #delete-key-button.click-button.flashy-button
             svg: use(href="#svg-trash-icon")
             .label Delete


    //- h3#import-title Import Key 
    //- #key-input-line
    //-     input#import-key-input
    //-     #accept-key-button.click-button: svg: use(href="#svg-check-icon")

    //- #import-options-line 
    //-     #qr-scan-import.click-button: svg: use(href="#svg-qrscan-icon")
    //-     #floating-import.click-button: svg: use(href="#svg-code-icon")

    //- h3#export-title Export Key
    //- #export-options-line 
    //-     #copy-export.click-button: svg: use(href="#svg-copy-icon")
    //-     #qr-export.click-button: svg: use(href="#svg-qrcode-icon")
    