#keyexport-unprotected-raw
    svg: use(href="svg-unprotected-icon")
    .label Raw Unprotected Key
#keyexport-secret-phrase-protected 
    svg:  use(href="svg-qr-protected-icon")
    .label Protected - Secret Phrase
#keyexport-qrcode-protected 
    svg:  use(href="svg-phrase-protected-icon")
    .label Protected - QR Code
