p A new Key as been generated.
h2#keygeneration-key-id-label New Key ID
#keygeneration-key-id-display

#keygeneration-regeneration-button.click-button.flashy-button.icon-n-label
    svg: use(href="#svg-refresh-icon")
    .label Regenerate New Key
    
#keygeneration-protected-indicator 
    #keygeneration-not-protected-indicator 
        svg: use(href="#svg-unprotected-icon")
        .label This Key is currently unprotected
    #keygeneration-phrase-protected-indicator
        svg: use(href="#svg-phrase-protected-icon") 
        .label This key is Protected with a Secret Phrase 
    #keygeneration-qr-protected-indicator
        svg: use(href="#svg-qr-protected-icon") 
        .label This key is Protected with a Qr Code 

h2 Define Key Protection?
#keygeneration-protection-options 

    #keygeneration-keep-unprotected.click-button.flashy-button.icon-n-label
        svg: use(href="#svg-unprotected-icon")
        .label Go Raw and Unprotected
    
    #keygeneration-phrase-protect.click-button.flashy-button.icon-n-label
        svg: use(href="#svg-phrase-protected-icon") 
        .label Protect with Secret Phrase

    #keygeneration-qr-protect.click-button.flashy-button.icon-n-label
        svg: use(href="#svg-qr-protected-icon") 
        .label Protect with Qr Code 


#keygeneration-conclusion-row.button-box
    #keygeneration-use-button.click-button.flashy-button 
        .label Use
    #keygeneration-cancel-button.click-button.flashy-button 
        .label Cancel

            
